@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Open+Sans+Condensed:wght@300&family=Sarabun:wght@400;500;700&display=swap");

body{
    background-color: whitesmoke;
}

h1{
    text-align: center;
    font-family: "Sarabun", sans-serif;

}
 li {
display:flex;
justify-items: center;
list-style: none;
font-family: "Boogaloo", cursive;
font-size: 1.6rem;
}

a{
    text-decoration: none;
    color: #ebaeae;
}

a:hover {
    transform: scale(1.1);
}

.sabiasQue{
    font-family: "Sarabun", sans-serif;
        margin-right: 1rem;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        margin-left: 1rem;
}

.footer {
    background: #eebcbc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    text-align: center;
    font-family: 'Boogaloo', cursive;
    font-size: 1rem;
    color: black;
    padding-bottom: 0.6rem;
    text-transform: uppercase;
    margin-top: 2rem;
  }

  .carrito__icon{
      float: right;
  }